#a{font-family:"微软雅黑";font-size:20px;color:#686868;font-weight:none;text-indent:2em;}
#b{font-family:Arial;font-size:12px;color:#a9a8a8;font-weight:none;text-align:center;}
.font_next{color:#22a3d3;}
.textp{text-indent:2em;}