body{font-size:12px;font-family:Arial;color:grey;line-height:2em;}
.a{color:#727272;text-decoration:none;}
.b{font-size:14px;color:white;font-weight:bolder;text-decoration:none;}
#c{color:#b9f605;text-decoration:none;font-size:14px;}
.special{color:#fdb306;text-decoration:none;font-size:14px;}